*{transition:all 0.3s ease-in-out;}
body{
    padding: 0;
    margin: 0;
    
}
.header-container{
  background-color: rgb(255, 255, 255);
  clear: both;
  overflow: auto;
}

nav{
    float: right;
}

.logo img{
    float:left;
    padding-left: 1rem;
}

ul li {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
    margin-right: 1rem;
    color: black;
    font-weight: 100px;

}
ul li:hover{
    text-decoration: underline;
    color: gray;
}

ul span{
    padding: 5px;
}

/* Sidenav*/
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(236, 247, 248,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
}
.sidenav h1{
    text-align: center;
    color: black;
}
.sidenav a:hover {
    color: #5f5252;
    text-decoration: underline;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*.main{
    background-image: url("/ports\ test/good map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }*/
#main {
    transition: margin-left .5s;

  }
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
  }